@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#menu-toggle:checked + #menu{
    display:block;
}
.widget-image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}